.Control-1{
    position: relative;
}

.Control-1 .videoTag{
    width: 100%;
    object-fit: cover;
    position: relative;
    animation: fadeIn 5s;
    opacity: 0.9;
}

/* .Text-bg{
    position: absolute;
    top:40%;
    left: 30%;
    animation: fadeIn 5s;
} */
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
/* .Text-bg img {
    width: 200%;
} */
.btn-watch{
    position: absolute;
   
    color:'#fff';
    animation: fadeIn 5s;
   
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
.btn-watch .MuiButtonBase-root {
    padding: 15px;
    border-radius: 30px;
    border: 3px solid #4CAF50;
    background-color: aliceblue;
    color:black;
    transition: 0.5s;
    letter-spacing: 5px;
}
.btn-watch .MuiButtonBase-root:hover{
   transform: scale(1.2);
}