.bg-Classes {
    padding: 3rem 0;
   
}
.bg-Classes h2 {
   font-weight: 700;
}
.bg-Classes h6{
    letter-spacing: 5px;
    color:rgb(18, 150, 211);
    font-weight: 700;
}
iframe{
    margin-top: 2rem;
}
.classes-text h3{
    font-weight: 700;
    font-family: initial;
    letter-spacing: 2px;
}
.classes-text h5{
    letter-spacing: 2px;
    font-size: 15px;
    padding: 15px 0px;
}
.arrow-character {
   text-align: right;
}
.arrow-character .arrow-left{
    margin-right: 1rem;
    font-size: 40px;
    cursor: pointer;
  
}
.arrow-character .arrow-right{
    font-size: 40px;
    cursor: pointer;
}
