.light h2 {
    font-weight: 700;
    font-family: initial ;
    letter-spacing: 5px;
    
}
.dark h2 {
    font-weight: 700;
    font-family: initial ;
    letter-spacing: 5px;
}
.light .header-mapView h2{
   padding-bottom: 3rem;
}
.dark .header-mapView h2{
    padding-bottom: 3rem;
 }